.App{
  margin: 150px 0px;
}
.container{
  background-color:#F8F7FF;
  padding: 10px 10px 50px 10px;
}

.genreHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px 120px;
}

@media screen and (max-width:1024px) {
  .genreHolder{
    margin: 0px 0px;
  }
}
.titleText{
  font-size: 48px;
  color: #5E56E7;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
}
.titlePara{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}